.about-container {
  padding-top: 4rem;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 4rem;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for a modern look */
  background-color: #080404;
}

.about-title {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 1.5rem;
  text-align: center;
  font-weight: bold;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 00;
  font-style: normal;
}

.about-subtitle {
  font-size: 1.5rem;
  color: #FFFFFF;
  margin-bottom: 1rem;
  border-bottom: 2px solid #FFFFFF; /* Adds a visual separator for each section */
  padding-bottom: 0.5rem;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.about-text {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
  color: #FFFFFF;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.connect-links {
  margin-top: 2rem;
  text-align: center;
}

.connect-link {
  font-size: 1rem;
  color: #007bff; /* Link color */
  text-decoration: none;
  margin: 0 1rem;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.connect-link:hover {
  color: #0056b3; /* Darker shade on hover */
  text-decoration: underline;
}

/* Additional responsive design for smaller screens */
@media (max-width: 600px) {
  .about-container {
    padding: 2rem;
  }

  .about-title {
    font-size: 1.75rem;
  }

  .about-subtitle {
    font-size: 1.25rem;
  }

  .about-text {
    font-size: 0.9rem;
  }

  .connect-link {
    font-size: 0.9rem;
  }
}
