.background-div {
  background-image: url('https://st3.depositphotos.com/18803028/35029/i/450/depositphotos_350293028-stock-photo-mathematics-background-formulas-seamless-illustration.jpg'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  height: 90vh; /* 9/10th of the viewport height */
  width: 100%; /* Full width */
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center;
  align-items: center;
  position: relative; /* Ensure proper stacking */
}

.centered-text {
  color: white;
  font-family: "Cinzel", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
  padding-bottom: 1.5rem;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
               1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
  margin: 0; /* Remove extra margin */
}

.description-text {
  color: white; /* Make text white */
  font-size: 1.2rem; /* Adjust size as needed */
  text-align: center; /* Center align the text */
  line-height: 2.5; /* Add spacing between lines */
  margin: 1rem 0 0 0; /* Add some space between heading and paragraph */
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
               1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
