/* Footer Styles */
.footer {
    background-color: #0a0a0a;
    color: white;
    padding: 2rem 0;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.footer h4 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.footer p {
    font-size: 1rem;
}

.social-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-icon {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #007bff;
}

/* Icons for social links */
.fab {
    margin-right: 8px;
}

@media (min-width: 768px) {
    .footer .row {
        display: flex;
        justify-content: space-between;
    }

    .footer .col-md-6 {
        width: 50%;
    }

    .social-links {
        flex-direction: column;
        align-items: flex-start;
    }

    .social-icon {
        margin-right: 0;
        margin-bottom: 10px;
    }

    /* Align the text in the second column to the right */
    .text-md-right {
        text-align: left;
    }
}
